<!DOCTYPE html>
<html>
  <head>
    <title>Ewetube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('ewetubelogo.svg') %>";
      window.logoblackURL = "<%= image_url('ewetubelogoblack.svg') %>";
      window.loginURL = "<%= image_url('loginicon.svg') %>";
      window.errorURL = "<%= image_url("error.svg") %>";
      window.defaultThumbnail = "<%= image_url("defaultThumbnail.svg")%>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
